/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e6ecf0;
  margin: auto;
}

nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav ul li {
  list-style: none;
  list-style-type: none;
  font-weight: bold;
  color: gray;
  padding: 20px 0;
  margin: 0 10px;
  transition: all 300ms ease-in-out;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

nav ul li:hover{
  color: #1da1f2;
  border-bottom: 2px solid #1da1f2;
}
.logo {
  height: 25px;
  width: auto;
}
nav button {
  border: none;
  box-shadow: none;
  background-color: #1da1f2;
  color: #fff;
  font-weight: bold;
  font-size: large;
  border-radius: 25px;
  padding: 5px 15px;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  max-width: 1200px;
  align-items: flex-start;
}

main section {
  background-color: #fff;
  margin: 0 5px;
}
.profile {
  flex: 1;
}
.banner {
  padding: 25px 30px;
  background-color: #000;
}
.profile-details {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  transform: translateY(-10px);
}
.profile-details span {
  color: gray;
}
.main-profile-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-right: 10px;
  transform: translateY(-20px);
}
.numbers {
  display: flex;
  justify-content: space-evenly;
  line-height: 2;
  font-weight: bold;
  color: gray;
}
.numbers span {
  color: #1da1f2;
}
.tweets {
  min-width: 600px;
  padding: 0px 20px;
}
.tweet {
  display: flex;
  line-height: 1;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #eee;
  line-height: 1.5;
}
.follower {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.follower button {
  border: 1px solid #1da1f2;
  box-shadow: none;
  background-color: #fff;
  color: #1da1f2;
  font-weight: bold;
  font-size: large;
  border-radius: 25px;
  padding: 5px 15px;
  text-decoration: none;
}
.tweet p {
  padding: 0;
  margin: 0;
  line-height: 2;
}
.tweet caption {
  padding: 0;
  margin: 0;
}
.tweet span {
  color: gray;
}
.profile-picture {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.follow {
  min-width: 300px;
  padding: 0 10px;
}
@media (max-width: 1268px) {
  main section {
    margin-bottom: 10px;
  }
  .profile,
  .tweets {
    max-width: 100%;
  }

  .banner {
  }
  .follow {
    display: none;
  }
}
/* TODO: Create CSS for your Twitter Mockup */
